html {
  font-size: 10px;

  --main-bg: #fff;
  --sub-bg: #fcfcfc;
  --sel-high-bg: rgba(251, 151, 54, 0.2);
  --even-bg: #f1f1f1;

  --popup-light-icon-bg: #fff;
  --popup-dark-icon-bg: #252525;
  --popup-btn-bg: #f1f1f1;

  --main-text: #616161;
  --sub-text: #a3a3a3;

  --main-icon: #7a7a7a;

  --fix-det-bg: #f3fff9;
  --fix-theme-text: #15b748;
  --fix-high-text: #fb9736;
  --fix-white-text: #fff;
  --fix-border: rgba(134, 134, 134, 0.2);
}

body {
  background-color: var(--main-bg);
}

@mixin container {
  margin: 0 auto;
  width: 720px;
  position: relative;
  z-index: 99;
}

.main-container {
  @include container;
  /* height: 100vh; */
}
