/* 
sass에서 정적 이미지
url('../../media/img/example.PNG')
로 쓸 수 있게 해놓았음.
*/

@mixin container {
  margin: 0 auto;
  width: 720px;
  background-color: #eaeaea;
}

$main-color: #15b748;
$main-background: #FFFFFF;
$main-light: #FCFCFC;
$main-dark: #F1F1F1;
$main-darktext: #616161;
$main-border: #868686;

$darkmode-background: #333333;
$darkmode-light: #7A7A7A;
$darkmode-dark: #4F4F4F;