/* 
sass에서 정적 이미지
url('../../media/img/example.PNG')
로 쓸 수 있게 해놓았음.
*/
$main-theme: #15b748;
$main-background: #ffffff;
$main-light: #fcfcfc;
$main-dark: #f1f1f1;
$main-text: #616161;
$main-border: #868686;

$darkmode-background: #333333;
$darkmode-light: #7a7a7a;
$darkmode-dark: #4f4f4f;

html {
  background-color: #eaeaea;
  font-size: 10px;
  color: $main-theme;
}

@mixin container {
  margin: 0 auto;
  width: 720px;
  background-color: $main-background;
}

.main-container {
  @include container;
  /* height: 100vh; */
}
