@import './common';

.content-container {
  @include container;
}
.header {
  @include container;

  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 90px;
  padding: 30px 45px;
  width: 100%;
}

.logo {
  font-weight: 700;
  font-size: 3.6rem;
  line-height: 42px;
  color: $main-theme;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header-logo-img {
  width: 40px;
  height: 40px;
}

.side-nav-container,
.dark-mode-container {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.side-nav-btn,
.set-dark-btn {
  color: var(--header-icon-color);
}
