.local-container {
  width: 100%;
  padding: 50px;
  background-color: var(--main-bg);
}

.local--header {
  color: var(--fix-high-text);
}

.local--list > li {
  font-size: 1.4rem;
  color: var(--main-text);
  border-radius: 5px;
  margin: 7px;
}

.local--list > li:nth-child(odd) {
  background-color: var(--sub-bg);
}

.local--list > li:nth-child(even) {
  background-color: var(--even-bg);
}

.local--header {
  display: flex;
  position: relative;
  padding: 20px 60px 20px 40px;
  justify-content: space-between;
}

.local__item,
.local__details {
  display: flex;
  position: relative;
  padding: 20px 30px;
  border-radius: 5px;
  justify-content: space-between;
  border: 1px solid var(--fix-border);
  transition: all 0.2s ease-in-out;
}

.header__index {
  width: 150px;
  text-align: left;
}

.header__total-infection {
  margin-right: 20px;
}

.header__total-infection,
.header__prev-infection,
.local__total-cnt,
.local__prevday-cnt {
  width: 150px;
  text-align: right;
}

.local__total-cnt {
  margin-left: 40px;
}

.local__prevday-cnt {
  margin-right: 30px;
}

.arrow {
  position: absolute;
  font-size: 35px;
  right: 25px;
  line-height: 0.45;
  transition: all 0.4s ease-in-out;
  cursor: pointer;
}

.local__sub-list {
  height: 0;
  overflow: hidden;
  background-color: var(--main-bg);
  transition: all 0.4s ease-in-out;
}

.local__details {
  background-color: var(--fix-det-bg);
  transition: height 0.4s ease-in-out;
}

.local__city {
  display: block;
  width: 100px;
}

.local--list > li.active {
  position: relative;
  // margin: 7px;
  background-color: transparent;

  .local__item {
    background-color: var(--fix-theme-text);
    border-radius: 5px;
  }

  .arrow {
    transform: rotate(180deg);
  }

  .local__details {
    border-radius: 5px;
    color: #616161;
    display: flex;
    margin: 7px 0px;
    border: 1px solid rgba(54, 187, 117, 0.3);
  }
}
