.local-container {
  // background-color: lightblue;
  width: 720px;
  padding: 50px;
}

.local--list > li {
  font-size: 1.4rem;
  border-radius: 5px;
  overflow: hidden;
  margin: 7px;
}

.local--list > li:nth-child(odd) {
  background-color: $main-light;
}

.local--list > li:nth-child(even) {
  background-color: $main-dark;
}

.local__item,
.local__details {
  padding: 20px 25px;  
}

.local__item {
  display: flex;
  position: relative;  
}

.arrow {
  position: absolute;
  width: 15px;
  height: 15px;
  right: 25px;
}

.local--list > .local__sub-list {
  // height: 0;
  display: none;
}

.local__details {
  display: none;
}

.local--list > li.active {
  position: relative;
  margin: 7px;
  background-color: transparent;
  .local__item {
    background-color: $darkmode-dark;
    border-radius: 5px;
    color: $main-light;
  }  
  img {
    transform: rotate(180deg);
  }
  .local__sub-list {
    border-radius: 5px;
  }
  .local__details {
    padding: 20px 25px;
    border-radius: 5px;
    display: block;
    margin: 7px 0px;
    background-color: $main-light;
  }
  .local__sub-list {
    border-radius: 5px;
    transition: all 0.4s ease-in-out;
  }
}

.local--list > li.active > .local__sub-list > .local__details:nth-child(odd) {
  background-color: $main-dark;
}