.local-container {
  width: 100%;
  padding: 50px;
}

.local--header {
  color: var(--sub-orange-color);
}

.local--list > li {
  font-size: 1.4rem;
  color: var(--infection-font-color);
  border-radius: 5px;
  margin: 7px;
}

.local--list > li:nth-child(odd) {
  background-color: var(--infection-odd-color);
}

.local--list > li:nth-child(even) {
  background-color: var(--infection-even-color);
}

.local--header {
  display: flex;
  position: relative;
  padding: 20px 60px 20px 40px;
  justify-content: space-between;
}

.local__item,
.local__details {
  display: flex;
  position: relative;  
  padding: 20px 30px;  
  border-radius: 5px;
  justify-content: space-between;
  border: 0.5px solid rgba(var(--tab-white-color), 0.3);
  transition: all 0.2s ease-in-out;
}

.header__index {
  width: 150px;
  text-align: left;
}

.header__total-infection {
  margin-right: 20px;
}

.header__total-infection,
.header__prev-infection,
.local__total-cnt,
.local__prevday-cnt {
  width: 150px;
  text-align: right;
}

.local__total-cnt {
  margin-left: 40px;
}

.local__prevday-cnt {
  margin-right: 30px;
}

.arrow {
  position: absolute;
  font-size: 35px;
  right: 25px;
  line-height: 0.45;
  transition: all 0.4s ease-in-out;
}

.local__sub-list {
  height: 0;
  overflow: hidden;
  background-color: var(--bg-color);
  transition: all 0.4s ease-in-out;
}

.local__details {
  // display: none;
  // height: 0;
  // justify-content: space-between;
  background-color: #FFFFFF;
  transition: height 0.4s ease-in-out;
}

.local__city {
  display: block;
  width: 100px;
}

.local--list > li.active {
  position: relative;
  // margin: 7px;
  background-color: transparent;
  
  .local__item {
    background-color: rgba(var(--main-green-color));
    color: var(--infection-odd-color);
    border-radius: 5px;
  }

  .arrow {
    transform: rotate(180deg);
  }

  .local__details {
    border-radius: 5px;
    display: flex;
    margin: 7px 0px;
    // background-color: #FFFBF5;
    background-color: #F3FFF9;
    // background-color: var(--infection-odd-color);
    border: 0.5px solid rgba(var(--main-green-color), 0.3);
    // border: 0.5px solid rgba(251, 151, 54, 0.5);
    // border: 0.5px solid rgba(243, 255, 249, 1);
  }
}
