@import './common';

#covid-chart{
  background: var(--bg-color);
}

.section-tab {
  @include container;
  position: relative;

  .tab-container {
    width: 613px;
    margin: 0 auto;
  }

  .tab-nav {
    display: flex;
    margin-bottom: 27px;
  }

  .tab {
    display: none;
  }

  .tab-label {
    width: 120px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    color: var(--sub-orange-color);
    border: 1px solid rgba(var(--tab-white-color));
    border-radius : 5px 5px 0 0;
    font-weight: 700;
  }

  .tab-label:hover {
    cursor: pointer;
  }

  .tab:checked + label{
    background-color: rgba(var(--sub-orangeAlpha-color), 0.2);
  }

  .tab-content1,
  .tab-content2 {
    display: none;
    width: 613px;
  }
  .active {
    display: block;
  }
}
