@import './common';

#covid-chart {
  background: var(--main-bg);
}

.section-tab {
  @include container;
  position: relative;
  background-color: var(--main-bg);

  .tab-container {
    width: 613px;
    margin: 0 auto;
  }

  .tab-nav {
    display: flex;
    margin-bottom: 27px;
    font-size: 1.4rem;
  }

  .tab {
    display: none;
  }

  .tab-label {
    width: 120px;
    height: 28px;
    text-align: center;
    line-height: 28px;
    color: var(--fix-high-text);
    background-color: var(--sub-bg);
    border: 1px solid var(--fix-border);
    border-radius: 5px 5px 0 0;
    font-weight: 700;
  }

  .tab-label:hover {
    cursor: pointer;
  }

  .tab:checked + label {
    background-color: var(--sel-high-bg);
    border: 1px solid var(--fix-high-text);
  }

  .tab-content1,
  .tab-content2 {
    display: none;
    width: 613px;
  }
  .active {
    display: block;
  }
}
