.tab-content2 {
  background-color: var(--main-bg);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding-top: 7%;
  font-size: 1.4rem;
  width: 613px;

  .calendar-nav {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 65px;
    color: var(--fix-white-text);
    border-radius: 10px 10px 0 0;
    background-color: var(--fix-theme-text);
    width: 80%;
    left: 50%;
    transform: translate3d(-50%, 0, 0);

    .month {
      margin-top: 5px;
    }
  }

  .calendar-grid {
    display: grid;
    grid-template-rows: 35px;
    align-items: center;
    border-radius: 0 0 10px 10px;
    width: 80%;
    height: 100%;
    margin: 0 auto;

    .weekdays {
      display: grid;
      grid-template-columns: repeat(7, 1fr);
      justify-items: center;
      align-items: center;
      height: 100%;
      font-size: 1.8rem;
      width: 100%;
      color: var(--main-text);
    }

    .dates {
      display: grid;
      gap: 5px;
      grid-template-columns: repeat(7, 1fr);
      grid-template-rows: repeat(6, 1fr);
      justify-items: center;
      align-items: center;
      width: 100%;
      font-weight: 400;
    }

    .dates > span {
      display: block;
      color: var(--fix-white-text);
      // background-color: $main-theme;
      width: 100%;
      border-radius: 7px;
      position: relative;
      padding: 20px 0;

      .num-infection {
        opacity: 0;
        position: absolute;
        bottom: -10px;
        right: -30px;
        transition: all 0.5s;
        z-index: 100;
        color: var(--fix-theme-text);
        background-color: var(--main-bg);
        padding: 10px;
        padding-left: 20px;
        text-align: right;
        border-radius: 5px;
      }
    }

    .dates > span:hover > .num-infection {
      opacity: 1;
    }
  }

  .left,
  .right {
    position: absolute;
    top: 50%;
    transform: translate3d(0, -50%, 0);
    cursor: pointer;
    font-size: 3.5rem;
    padding: 10px 0;
    color: var(--fix-white-text);
  }

  .left {
    left: 35%;
  }

  .right {
    right: 35%;
  }

  .month-mow-legend {
    position: absolute;
    top: 0;
    right: 10px;
    padding: 5px;
    background-color: var(--sub-bg);
    display: flex;

    .mow-legend-item {
      display: flex;
      align-items: center;
      padding: 5px;

      @for $i from 1 through 5 {
        .legend-color-#{$i} {
          width: 10px;
          height: 10px;
          margin-right: 5px;
          background-color: rgba(21, 183, 72, 0.2 * $i);
        }

        .legend-text {
          color: var(--main-text);
        }
      }
    }
  }
}
