@import './common';

.total-container {
  @include container;
  padding: 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: 700;
  background-color: var(--main-bg);
}

.cumulative-confirm,
.today-confirm,
.compare-last-day {
  position: relative;
  height: 70px;
  border-radius: 5px;
  border: 1px solid var(--fix-border);
}

.cumulative-confirm {
  width: 230px;
  background-color: var(--fix-theme-text);
}

.today-confirm {
  width: 180px;
  background-color: var(--sub-bg);
}

.compare-last-day {
  width: 120px;
  background-color: var(--sub-bg);
  border: 1px solid var(--fix-border);
}

.confirm-header {
  position: absolute;
  top: 0px;
  left: 0px;
  padding: 10px;
  font-size: 1.2rem;
  color: var(--sub-text);
}

.confirm-content {
  position: absolute;
  bottom: 0px;
  right: 0px;
  padding: 10px;
  font-size: 2.4rem;
  color: var(--fix-theme-text);
}

.cumulative-confirm > .confirm-header,
.cumulative-confirm > .confirm-content {
  color: var(--fix-white-text);
}
